# Banco de dados PostgreSQL
DB_URL=jdbc:postgresql://localhost:5432/beatmanager
DB_USERNAME=postgres
DB_PASSWORD=1708

# JWT
JWT_SECRET=SUA_CHAVE_SECRETA_AQUI
JWT_EXPIRATION=86400000

# Porta do servidor
SERVER_PORT=8081
